%arial {
	font-family: Arial, sans-serif;
}

%times {
	font-family: "Times New Roman", serif;
}

$font__main: Arial, sans-serif;
$font__title: "Times New Roman", serif;
$font__base-size: 16px;
$font__line-height-body: ( 20px / 16px );
